chromadb==0.4.2
colorama==0.4.6
langchain==0.0.240
openai==0.27.8
openapi-schema-pydantic==1.2.4
python-dotenv==1.0.0
sentry-sdk==1.28.1
tiktoken==0.4.0
tokenizers==0.13.3
starlette==0.27.0
streamlit==1.25.0
PyPDF2==3.0.1